.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/copyright
/.idea/vcs.xml
/.idea/.name
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/copyright/profiles_settings.xml
/.idea/copyright/*.xml
.DS_Store
/build
/gradle.properties
gradle.properties
gradle
/.idea/
profiles_settings.xml
